@font-face {
    font-family: "Battambang";
     src: url(../assets/fonts/Battambang-Light.ttf);
     font-weight: 300;
   }

@font-face {
    font-family: "Battambang";
    src: url(../assets/fonts/Battambang-Bold.ttf);
    font-weight: 700;
   }

* {
    box-sizing: border-box;
} 

html {
    scroll-behavior: smooth; 
  }

body {
    font-family: "Battambang";
    font-weight: 300;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body_flow.overflow-hidden {
  overflow: hidden;
}

h1 {
  text-align:center;
} 

h1::after {
  content: '';
  display: inline-block;
  margin-bottom: -20px;
  margin-left: -170px;
  margin-right: 35px;
  height: 1px;
  width: 140px;
  background: grey;
}

h2 {
  text-transform: uppercase;
}


.header_main {
    background-color: grey;
}

.nav_ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav_link {
    margin: 0 5px;
    padding: 0 5px;
    line-height: 50px;
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    transition: .3s;
    color: black;
  }

  .nav_link:hover {
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
    border-bottom: 1px solid #829985;
    color: purple;
    transition: .3s ease-out;
    left: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2); 
    box-shadow: 0px 0px 110px black;
    padding: 5px;
  }


  .main_container {
    display: flex;
    flex-wrap: wrap;
    
  }

  .section {
    width: calc(50% - 20px);
    padding: 10px;
    border-bottom: 1px solid #672f2f;
    margin: 10px;
  }

  .section:nth-last-child(2), .section:nth-last-child(1) {
    border-bottom: none;

  }

  .section_profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }

  .section_profile_photo {
    border-radius: 50%;
    width: 200px;
  }

  .section_profile_title {
    text-align: center;
  }

  .section_item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
  }

  .label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }

  .menu_burger {
    display: none;
  }

  .section_contacts {
    transition: .5s;

  }

  .section_contacts:hover {
    background-image: url(../img/anim_content/bat1-remove.png);
    background-repeat: no-repeat;
    background-position: right 0% bottom 100%;
    box-shadow: 0px 0px 110px black;
    padding: 10px;

  }

  .section_summary {
    transition: .5s;

  }

  .section_summary:hover {
    background-image: url(../img/anim_content/doubleface-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right 0% bottom 50%;
    box-shadow: 0px 0px 110px black;
    padding: 10px;

  }

  .section_skills {
    transition: .5s;

  }

  .section_skills:hover {
    background-image: url(../img/anim_content/catwoman.png);
    background-repeat: no-repeat;
    background-position: right 0% bottom 80%;
    box-shadow: 0px 0px 110px black;
    padding: 10px;

  }


  .section_code {
    transition: .5s;

  }


  .section_code:hover {
    background-image: url(../img/anim_content/riddler.png);
    background-repeat: no-repeat;
    background-position: right 50% bottom 80%;
    box-shadow: 0px 0px 110px black;
    padding: 10px;

  }


  .section_courses {
    transition: .5s;

  }

  .section_courses:hover {
    background-image: url(../img/anim_content/robin.png);
    background-repeat: no-repeat;
    background-position: right 50% bottom 80%;
    box-shadow: 0px 0px 110px black;
    padding: 10px;

  }

  .section_english {
    transition: .5s;

  }


  .section_english:hover {
    background-image: url(../img/anim_content/penguin-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right 50% bottom 80%;
    box-shadow: 0px 0px 110px black;
    padding: 10px;
  }



.grey_style {
  color: grey;
}

.b {
  font-weight: 700;
}

.footer {
  background-color: grey;
  padding: 20px;
}

.footer_container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}

.rss_link {
  width: 121px;
  height: 45px;
  background-image: url(../img/logo/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.code_block {
  font-size: 12px;
}



@media (max-width: 768px) {

  /* h1::after {
    top: 31%;
  } */

  .section {
    width: 100%;
  }

  .nav_ul {
    display: none;
  }

  .nav_main {
    display: flex;
    justify-content: flex-end;
  }


  .menu_burger {
    width: 35px;
    height: 30px;
    position: relative;
    z-index:2;
    overflow: hidden;
    display: block;
    margin: 5px;
    margin-right: 10px;
  }
  
  .menu_burger span {
    width: 45px;
    height: 2.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    transition: all 0.5s
  }
  
  .menu_burger span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu_burger span:nth-of-type(3) {
    top: calc(50% + 5px);
  }

/* Меняем гамбургер иконку, когда меню открыто */
.menu_burger.active span:nth-of-type(1) {
display: none;
position: fixed;
right: 100%;
}
.menu_burger.active span:nth-of-type(2) {
top: 8%;
left: 90%;
transform: translate(-50%, 0%) rotate(45deg);  
position: fixed;
height: 6px;
}
.menu_burger.active span:nth-of-type(3) {
top: 8%;
left: 90%;
transform: translate(-50%, 0%) rotate(-45deg); 
position: fixed;
height: 6px;
}

  /* Меню, которое будет появляться */
.burger_ul {
position: fixed;
text-align: center;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 5px;
background: grey;
transform: translateX(-100%);
transition: transform 0.5s; 
/* display: block; */
}

.burger_ul.active {
display: block;
transform: translateX(0);

}

.burger_ul li {
list-style-type: none;
}

.section:nth-last-child(2) {
  border-bottom: 1px solid #672f2f;
}

}

@media (max-width: 550px) {

.section_profile {
  flex-direction: column;
  align-items: center;
}

.burger_ul {
  text-align: left;

}

@media (max-width: 415px) {

  .footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  }


  @media (max-width: 294px) {


  h1::after {
    display: none;

  }
}